@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body:has(> div#root > .sy-modal[open]) {
		height: 100vh;
		overflow-y: hidden;
	}
	
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
}
